---
import type { Member } from '@/types/Member';
import Image from 'astro/components/Image.astro';

interface Props {
  items: Member[];
}

const { items } = Astro.props;
---

<div class="flex flex-col gap-6">
  {
    items.map(item => {
      return (
        <div class="ts-index-member-item flex w-full flex-col gap-4 md:flex-row md:gap-12">
          <picture class="aspect-square overflow-hidden rounded-md grayscale transition md:aspect-auto md:h-[60vh] md:w-[60vh]">
            <Image
              class="h-full w-full object-cover"
              src={
                item.image ||
                `https://placehold.jp/020817/ffffff/300x300.png?text=${item.name}`
              }
              alt={item.name}
              width={400}
              height={400}
            />

            <img
              class="h-full w-full object-cover"
              src={
                item.image ||
                `https://placehold.jp/020817/ffffff/300x300.png?text=${item.name}`
              }
              alt={item.name}
            />
          </picture>
          <div class="flex flex-1 flex-col justify-center gap-2 md:gap-4">
            <p class="text-xl font-semibold md:text-7xl">{item.name}</p>
            {item.description && (
              <p class="text-md text-white text-opacity-70 md:text-xl">
                {item.description}
              </p>
            )}
          </div>
        </div>
      );
    })
  }
</div>

<style lang="scss">
  .is-active {
    picture {
      filter: grayscale(0%);
    }
  }
</style>

<script>
  import animation from './animation';
  animation();
</script>
