---
import '@/styles/globals.css';
import Layout from '@/layouts/Layout.astro';
import PageTitle from '@/components/PageTitle.astro';
import Section from '@/components/Section.astro';
import BlogList from '@/components/BlogList';
import Breadcrumb from '@/components/Breadcrumb.astro';
import getBlog from '@/lib/getBlog';
import siteInfo from '@/data/siteInfo';

const title = 'Blog';
const allBlogs = await getBlog();

const description = `${siteInfo.appName} Memberが執筆したBlogの一覧ページです。直近では「${allBlogs[0].data.title}」、「${allBlogs[1].data.title}」、「${allBlogs[2].data.title}」を投稿しています。`;
---

<Layout title={title} description={description}>
  <PageTitle title={title} />
  <Section>
    <BlogList blogs={allBlogs} client:load />
  </Section>

  <Breadcrumb items={[{ name: title }]} />
</Layout>
