---
import '@/styles/globals.css';
import Layout from '@/layouts/Layout.astro';
import PageTitle from '@/components/PageTitle.astro';
import Section from '@/components/Section.astro';
import BlogCard from '@/components/BlogCard';
import Breadcrumb from '@/components/Breadcrumb.astro';
import getBlog from '@/lib/getBlog';
import siteInfo from '@/data/siteInfo';
const title = 'Blog';
const blogs = await getBlog();
const description = `最新記事:${blogs.length > 3 ? `「${blogs[0].data.title}」,「${blogs[1].data.title}」,「${blogs[2].data.title}」` : `${siteInfo.appName} Memberが執筆したBlogの一覧ページです。`}`;
---

<Layout
  title={title}
  description=`${description}`
>
  <PageTitle title={title} />
  <Section>
    <div class="flex flex-col gap-3">
      {blogs.map(blog => <BlogCard blog={blog} client:load />)}
    </div>
  </Section>

  <Breadcrumb items={[{ name: title }]} />
</Layout>
