---
import '@/styles/globals.css';
import Layout from '@/layouts/Layout.astro';
import PageTitle from '@/components/PageTitle.astro';
import Section from '@/components/Section.astro';
import Heading from '@/components/Heading.astro';
import ButtonLink from '@/components/ButtonLink';
import siteInfo from '@/data/siteInfo';
import BlogCard from '@/components/BlogCard';
import getBlog from '@/lib/getBlog';
const pageTitleType = 'hero';
const blogs = await getBlog();
---

<Layout>
  <PageTitle title="Rowicy" type={pageTitleType} />

  <Section isBg={true}>
    <Heading>Member</Heading>

    <p class="mt-6">{siteInfo.appName}のメンバーをご紹介します。</p>

    <ButtonLink href="/member"> View More </ButtonLink>
  </Section>

  <Section isBg={true}>
    <Heading>Blog</Heading>

    <div class="flex flex-col gap-3 mt-6">
      {
        blogs.map((blog, i) => {
          if (i >= 2) return;
          return <BlogCard blog={blog} bg="transparent" client:load />;
        })
      }
    </div>

    <ButtonLink href="/blog"> View More </ButtonLink>
  </Section>
</Layout>
