---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import MemberAvatar from '@/components/MemberAvatar';
import type { Member } from '@/types/Member';
import Icon from './Icon.astro';
import { cn } from '@/lib/utils';
interface Props {
  items: Member[];
  layout?: 'author';
}
const { items, layout } = Astro.props;
---

<div class="flex flex-wrap gap-[1.2rem]">
  {
    items.map(member => (
      <Card
        className={cn(
          'w-full',
          layout === 'author'
            ? 'relative min-h-36 py-3 pl-[calc(20vw+1rem)]'
            : 'md:w-[calc(calc(100%/3)-0.8rem)]'
        )}
        id={member.name}
        key={member.name}
      >
        <CardHeader
          className={cn(
            layout === 'author' &&
              'absolute left-3 top-1/2 h-[20vw] w-[20vw] -translate-y-1/2 justify-center p-0'
          )}
        >
          <MemberAvatar
            client:load
            src={
              member.image ||
              `https://placehold.jp/020817/ffffff/300x300.png?text=${member.name}`
            }
            alt={member.name}
            fallbackText={member.name}
          />
        </CardHeader>
        <CardContent className={cn(layout === 'author' && 'px-3 pb-3')}>
          <CardTitle className={cn(layout === 'author' && 'text-lg')}>
            {layout === 'author' && 'Author: '}
            {member.name}
          </CardTitle>
          {member.description && (
            <CardDescription className="mt-2">
              <Fragment set:html={member.description} />
            </CardDescription>
          )}
        </CardContent>
        {member.links && (
          <CardFooter className={cn(layout === 'author' && 'px-3 pb-0')}>
            <ul class="flex flex-col gap-1">
              {member.links.map(link => (
                <li>
                  <a
                    href={link.href}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="flex transition hover:opacity-70"
                  >
                    <span class="w-10 break-all">
                      {link.type === 'icon' ? (
                        <Icon name={link.name} />
                      ) : (
                        `${link.name}:`
                      )}
                    </span>
                    <span class="ml-2 flex-1">{link.id || link.href}</span>
                  </a>
                </li>
              ))}
            </ul>
          </CardFooter>
        )}
      </Card>
    ))
  }
</div>
