---
import ButtonLink from '@/components/ButtonLink';
import Icon from '@/components/Icon.astro';
import siteInfo from '@/data/siteInfo';
import { Separator } from '@/components/ui/separator';

interface Props {
  title: string;
  url: string;
}

const { title, url } = Astro.props;

const links = [
  {
    name: 'X',
    url: `https://twitter.com/share?url=${url}&text=${title}&hashtags=${siteInfo.appName}`,
    label: 'Xでシェア',
  },
  {
    name: 'Facebook',
    url: `https://www.facebook.com/sharer/sharer.php?u=${url}`,
    label: 'Facebookでシェア',
  },
  {
    name: 'Hatena',
    url: `https://b.hatena.ne.jp/add?mode=confirm&url=${url}&title=${title}`,
    label: 'はてなブックマークに追加',
  },
  {
    name: 'Pocket',
    url: `https://getpocket.com/edit?url=${url}&title=${title}`,
    label: 'Pocketに保存',
  },
];
---

<div>
  <Separator />
  <h3 class="mt-8 text-xl">Share</h3>
  <ul class="flex flex-wrap gap-2">
    {
      links.map(link => {
        return (
          <ButtonLink
            href={link.url}
            icon={true}
            blank={true}
            rel="noopener noreferrer"
            label={link.label}
          >
            <Icon name={link.name} />
          </ButtonLink>
        );
      })
    }
  </ul>
  <Separator className="mt-8" />
</div>
