---
import socialLink from '@/data/socialLink';
import Icon from '@/components/Icon.astro';
import ButtonLink from '@/components/ButtonLink';
---

<ul class="-mt-6 flex flex-wrap items-center justify-center gap-2">
  {
    socialLink.map(item => {
      return (
        <li class="text-white">
          <ButtonLink
            href={item.href}
            icon={true}
            blank={true}
            rel="noopener noreferrer"
            label={item.name}
          >
            <Icon name={item.name} />
          </ButtonLink>
        </li>
      );
    })
  }
</ul>
